<html dir='ltr' lang='en'>
  <head>
    <link rel='preload' as='image' href='{{{logo.default}}}' />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>{{{device_activation_title}}}</title>
  </head>
  <div
    style='display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0'
  >{{{device_activation_title}}}<div
    >В вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»ї</div>
  </div>

  <body>
    <table
      align='center'
      width='100%'
      border='0'
      cellPadding='0'
      cellSpacing='0'
      role='presentation'
      style='max-width:42rem;margin-left:auto;margin-right:auto;width:100%;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;'
    >
      <tbody>
        <tr style='width:100%'>
          <td>
            <table
              align='center'
              width='100%'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='background-color:rgb(241,245,249)'
            >
              <tbody>
                <tr>
                  <td>
                    <h1
                      style='padding:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:700;text-transform:uppercase'
                    >{{{device_activation_title}}}</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align='center'
              width='100%'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='margin-top:1rem;margin-bottom:1rem;border-width:1px;border-style:solid;border-color:rgb(241,245,249);font-size:0.875rem;line-height:1.25rem'
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align='center'
                      width='100%'
                      border='0'
                      cellPadding='0'
                      cellSpacing='0'
                      role='presentation'
                    >
                      <tbody style='width:100%'>
                        <tr style='width:100%'>
                          <td data-id='__react-email-column' style='padding:1rem'>
                            <table
                              align='center'
                              width='100%'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p style='margin-bottom:1rem'>{{{paragraph1}}}</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <p style='margin-bottom:1rem'>{{{paragraph2}}}:</p>
                            <table style='width:100%'>
                              <tbody>
                                <tr>
                                  <td style='width:50%;vertical-align:text-top'>
                                    <div
                                      style='margin-top:0.5rem;margin-bottom:0.5rem;padding-right:0.5rem;vertical-align:text-top'
                                    >
                                      <h3
                                        style='margin-bottom:0.25rem;vertical-align:text-top;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                                      >ID</h3>
                                      <p
                                        style='margin:0px;margin-bottom:auto;word-break:break-all'
                                      >{{{email_id}}}</p>
                                    </div>
                                  </td>
                                  <td style='width:50%;vertical-align:text-top'>
                                    <div
                                      style='margin-top:0.5rem;margin-bottom:0.5rem;padding-right:0.5rem;vertical-align:text-top'
                                    >
                                      <h3
                                        style='margin-bottom:0.25rem;vertical-align:text-top;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                                      >{{{device_number}}}</h3>
                                      <p
                                        style='margin:0px;margin-bottom:auto;word-break:break-all'
                                      >{{{deviceNumber}}}</p>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <p style='margin-top:1rem'>{{{warning_paragraph}}}</p>
                            <table
                              align='center'
                              width='100%'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <hr
                                      style='width:100%;border:none;border-top:1px solid #eaeaea;margin-top:1rem;margin-bottom:1rem'
                                    />
                                    <p style='margin-bottom:0.5rem'>
                                      {{{notification_text1}}}
                                      <a href='{{supportLink}}' style='color:rgb(59,130,246);text-decoration-line:none'>
                                        {{support_text}}
                                      </a>.
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align='center'
              width='100%'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='margin-left:auto;margin-right:auto;width:100%;max-width:42rem;background-color:rgb(241,245,249);font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;'
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align='center'
                      width='100%'
                      border='0'
                      cellPadding='0'
                      cellSpacing='0'
                      role='presentation'
                      style='margin-bottom:1rem;width:100%;text-align:center'
                    >
                      <tbody>
                        <tr>
                          <td><img
                              alt='Brand Logo'
                              src='{{{logo.default}}}'
                              style='margin-left:auto;margin-right:auto;margin-top:1rem;max-width:125px'
                            /></td>
                        </tr>
                      </tbody>
                    </table>
                    <h3
                      style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                    >{{{address}}}</h3>
                    <p
                      style='margin:0px;margin-bottom:1rem;text-align:center;font-size:0.75rem;line-height:1rem'
                    >{{{contact.address}}}</p>
                    <table style='margin-bottom:1rem;width:100%'>
                      <tbody>
                        <tr>
                          <td style='width:50%'>
                            <h3
                              style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                            >{{{email}}}</h3>
                            <p
                              style='margin:0px;text-align:center;font-size:0.75rem;line-height:1rem'
                            >{{{contact.email}}}</p>
                          </td>
                          <td style='width:50%'>
                            <h3
                              style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                            >{{{phone}}}</h3>
                            <p
                              style='margin:0px;text-align:center;font-size:0.75rem;line-height:1rem'
                            >{{{contact.phone}}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>