<html lang='en'>

  <head data-id='__react-email-head'>
    <link rel='preload' as='image' href='{{{logo.default}}}' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>{{Headers}}</title>
  </head>
  <div
    id='__react-email-preview'
    style='display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0'
  >{{Headers}}<div
    >В вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»їВ вЂЊвЂ‹вЂЌвЂЋвЂЏп»ї</div>
  </div>

  <body data-id='__react-email-body'>
    <table
      align='center'
      width='100%'
      data-id='__react-email-container'
      role='presentation'
      cellSpacing='0'
      cellPadding='0'
      border='0'
      style='max-width:42rem;margin-left:auto;margin-right:auto;width:100%;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji'
    >
      <tbody>
        <tr style='width:100%'>
          <td>
            <table
              align='center'
              width='100%'
              data-id='react-email-section'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='background-color:rgb(241,245,249)'
            >
              <tbody>
                <tr>
                  <td>
                    <h1
                      style='padding:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:700;text-transform:uppercase'
                    >{{{Headers}}}</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align='center'
              width='100%'
              data-id='react-email-section'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='margin-top:1rem;margin-bottom:1rem;border-width:1px;border-style:solid;border-color:rgb(241,245,249);font-size:0.875rem;line-height:1.25rem'
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align='center'
                      width='100%'
                      data-id='react-email-row'
                      role='presentation'
                      cellSpacing='0'
                      cellPadding='0'
                      border='0'
                    >
                      <tbody style='width:100%'>
                        <tr style='width:100%'>
                          <td data-id='__react-email-column' style='padding:1rem'>
                            <table
                              align='center'
                              width='100%'
                              data-id='react-email-section'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p style='margin-bottom:1rem'>{{{paragraph1}}}</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <p style='margin-bottom:1rem'>{{{paragraph2}}}</p>
                            <table
                              align='center'
                              width='100%'
                              data-id='react-email-section'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td><a
                                      href='{{{link}}}'
                                      style='margin-left:auto;margin-right:auto;display:block;width:max-content;border-radius:0.125rem;border-width:1px;border-style:solid;border-color:rgb(203,213,225);background-color:rgb(241,245,249);padding-left:1.5rem;padding-right:1.5rem;padding-top:0.5rem;padding-bottom:0.5rem;font-size:1rem;line-height:1.5rem;font-weight:600;color:rgb(0,0,0);text-decoration-line:none'
                                    >{{{button}}}</a></td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              align='center'
                              width='100%'
                              data-id='react-email-section'
                              border='0'
                              cellPadding='0'
                              cellSpacing='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <hr
                                      data-id='react-email-hr'
                                      style='width:100%;border:none;border-top:1px solid #eaeaea;margin-top:1rem;margin-bottom:1rem'
                                    />
                                    <p style='margin-bottom:0.5rem'>
                                      {{{notification_text1}}}
                                      <a href='{{supportLink}}' style='color:rgb(59,130,246);text-decoration-line:none'>
                                        {{supoprt_page_text}}
                                      </a>.
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align='center'
              width='100%'
              data-id='react-email-section'
              border='0'
              cellPadding='0'
              cellSpacing='0'
              role='presentation'
              style='margin-left:auto;margin-right:auto;width:100%;max-width:42rem;background-color:rgb(241,245,249);font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji'
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align='center'
                      width='100%'
                      data-id='react-email-section'
                      border='0'
                      cellPadding='0'
                      cellSpacing='0'
                      role='presentation'
                      style='margin-bottom:1rem;width:100%;text-align:center'
                    >
                      <tbody>
                        <tr>
                          <td><img
                              alt='Brand Logo'
                              src='{{{logo.default}}}'
                              style='margin-left:auto;margin-right:auto;margin-top:1rem;max-width:125px'
                            /></td>
                        </tr>
                      </tbody>
                    </table>
                    <h3
                      style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                    >{{address}}</h3>

                    <p
                      style='margin:0px;margin-bottom:1rem;text-align:center;font-size:0.75rem;line-height:1rem'
                    >{{contact.address}}</p>
                    <table style='margin-bottom:1rem;width:100%'>
                      <tbody>
                        <tr>
                          <td style='width:50%'>
                            <h3
                              style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                            >{{email}}</h3>
                            <p
                              style='margin:0px;text-align:center;font-size:0.75rem;line-height:1rem'
                            >{{contact.email}}</p>
                          </td>
                          <td style='width:50%'>
                            <h3
                              style='margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600'
                            >{{phone}}</h3>
                            <p
                              style='margin:0px;text-align:center;font-size:0.75rem;line-height:1rem'
                            >{{contact.phone}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

      </tbody>
    </table>
  </body>

</html>