<html dir='ltr' lang='en'>
  <head>
    <link rel='preload' as='image' href='{{{logo.default}}}' />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>{{{password_reset_notice}}}</title>
  </head>
  <body>
    <table
      align='center'
      width='100%'
      border='0'
      cellPadding='0'
      cellSpacing='0'
      role='presentation'
      style='max-width:42rem;margin-left:auto;margin-right:auto;width:100%;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
    >
      <tbody>
        <tr style='width:100%'>
          <td>
            <table align='center' width='100%' style='background-color:rgb(241,245,249)'>
              <tr>
                <td>
                  <h1 style='padding:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:700;text-transform:uppercase'>
                    {{{password_reset_notice}}}
                  </h1>
                </td>
              </tr>
            </table>
            <table align='center' width='100%' style='margin-top:1rem;margin-bottom:1rem;border:1px solid rgb(241,245,249);font-size:0.875rem;line-height:1.25rem'>
              <tr>
                <td style='padding:1rem'>
                  <p style='margin-bottom:1rem'>{{{password_reset_greeting}}}</p>
                  <p style='margin-bottom:1rem'>{{{password_reset_para1}}}</p>
                  <p style='margin-bottom:1rem'>{{{password_reset_para2}}}</p>
                  <p>{{{password_reset_para3}}}</p>
                  <hr style='margin:1rem 0;border:none;border-top:1px solid #eaeaea' />
                  <p style='margin-bottom:0.5rem'>
                    {{{notification_text1}}}
                    <a href='{{supportLink}}' style='color:rgb(59,130,246);text-decoration-line:none'>
                      {{support_text}}
                    </a>.
                  </p>
                </td>
              </tr>
            </table>
            <table
              align='center'
              width='100%'
              style='margin-left:auto;margin-right:auto;width:100%;max-width:42rem;background-color:rgb(241,245,249);font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
            >
              <tr>
                <td>
                  <table align='center' width='100%' style='margin-bottom:1rem;text-align:center'>
                    <tr>
                      <td>
                        <img
                          alt='Brand Logo'
                          src='{{{logo.default}}}'
                          style='margin-left:auto;margin-right:auto;margin-top:1rem;max-width:125px'
                        />
                      </td>
                    </tr>
                  </table>
                  <h3 style='margin:0;text-align:center;font-size:0.875rem;font-weight:600'>{{address}}</h3>
                  <p style='margin:0 0 1rem;text-align:center;font-size:0.75rem'>{{{contact.address}}}</p>
                  <table style='margin-bottom:1rem;width:100%'>
                    <tr>
                      <td style='width:50%;text-align:center'>
                        <h3 style='margin:0;font-size:0.875rem;font-weight:600'>{{email}}</h3>
                        <p style='margin:0;font-size:0.75rem'>{{{contact.email}}}</p>
                      </td>
                      <td style='width:50%;text-align:center'>
                        <h3 style='margin:0;font-size:0.875rem;font-weight:600'>{{phone}}</h3>
                        <p style='margin:0;font-size:0.75rem'>{{{contact.phone}}}</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>